<div class="col-lg-12">
    <nb-card>
      <nb-card-header>Campagne</nb-card-header>
      <nb-card-body>
        <div class="buttons-row">
          <button nbButton [routerLink]="'/pages/campaign/add'" [status]="'primary'" class="btn btn-primary" hero>
            nouvelle campagne
          </button>
        </div>
      </nb-card-body>
    </nb-card>
</div>
<div class="columns mt-2">
    <div class="column col-12">
        <ngx-table [data]="data" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>
</div>
<ng-template #actionTpl let-row let-rowIndex="rowIndex">
  <button style="margin: 2px;" class="btn-sm btn btn-danger"
  mwlConfirmationPopover
  [popoverTitle]="popoverTitle"
  [popoverMessage]="popoverMessage"
  placement="left"
  (confirm)="stopCampaign(row._id)"
  (cancel)="cancelClicked = true"
  ><em class="fa fa-times "></em></button>
  
  <button title="Relancer" style="margin: 2px;" (click)="reloadCampaign(row._id)" class="btn btn-sm btn-primary"><i class="fa fa-bolt" aria-hidden="true"></i></button>
  
  <button style="margin: 2px;" class="btn-sm btn btn-danger"
  mwlConfirmationPopover
  [popoverTitle]="popoverTitle"
  [popoverMessage]="popoverMessage"
  placement="left"
  (confirm)="removeCampaign(row._id)"
  (cancel)="cancelClicked = true"
  ><i class="fa fa-trash" aria-hidden="true"></i></button>

</ng-template>