<div class="col-lg-12">
    <nb-card>
      <nb-card-header>Mot clé</nb-card-header>
      <nb-card-body>
        <div class="buttons-row">
          <button nbButton [routerLink]="'/pages/keyword/add'" [status]="'primary'" class="btn btn-primary" hero>
            nouveau mot clé
          </button>
        </div>
      </nb-card-body>
    </nb-card>
</div>
<div class="columns mt-2">
    <div class="column col-12">
        <ngx-table [data]="data" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>
</div>
<ng-template #actionTpl let-row let-rowIndex="rowIndex">
  <div style="margin-right: 10px;" (click)="update(rowIndex)" class="btn btn-primary"><i
    class="fa fa-edit"></i></div>
  <div (click)="delete(rowIndex)" class="btn btn-danger"><i class="fa fa-times "></i></div>
</ng-template>