<div class="col-lg-12">
    <nb-card>
        <nb-card-header>Crétion d'un nouveau mot clé</nb-card-header>
        <nb-card-body>
            <div class="buttons-row">
                <button nbButton [routerLink]="'/pages/keyword'" [status]="'info'" class="btn btn-primary" hero>
                    Retour
                </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Création mot clé</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" [formGroup]="keywordForm">
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Nom</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="name" nbInput fullWidth placeholder="Mot clé">
                            <div *ngIf="submittedKeyword && keywordForm.controls.name.errors" class="error">
                                <div style="color:red;" *ngIf="keywordForm.controls.name.errors.required">*champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Code court</label>
                        <div class="col-sm-9">
                            <input type="number" nbInput fullWidth id="inputFirstName" formControlName="short_code"
                                placeholder="short_code">
                            <div *ngIf="submittedKeyword && keywordForm.controls.short_code.errors" class="error">
                                <div style="color:red;" *ngIf="keywordForm.controls.short_code.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Volume prévu</label>
                        <div class="col-sm-9">
                            <input type="number" nbInput fullWidth id="inputFirstName" formControlName="forecast_volume"
                                placeholder="volume prevu">
                            <div *ngIf="submittedKeyword && keywordForm.controls.forecast_volume.errors" class="error">
                                <div style="color:red;" *ngIf="keywordForm.controls.forecast_volume.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Type de Mot clé</label>
                        <div class="col-sm-9">
                            <nb-card>
                                <nb-select placeholder="Choisir le type de mot clé" formControlName="keyword_type_id">
                                    <nb-option *ngFor="let tkeyword  of typekeywords" value="{{tkeyword ._id}}">
                                        {{tkeyword.name}}
                                    </nb-option>
                                </nb-select>
                                <div *ngIf="submittedKeyword && keywordForm.controls.keyword_type_id.errors"
                                    class="error">
                                    <div style="color:red;"
                                        *ngIf="keywordForm.controls.keyword_type_id.errors.required">
                                        *champ
                                        obligatoire
                                    </div>
                                </div>
                            </nb-card>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button (click)="onSubmitKeyword()" nbButton status="danger">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>