@import '../../@theme/styles/themes';


@include nb-install-component() {
  ngx-echarts-pie,
  nb-card-body {
    display: flex;
    justify-content: space-between;

    input {
      width: 100%;
    }
  }

  ::ng-deep .echart {
    height: 100%;
    width: 100%;
  }
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 25%;
  background-color: white;
}

td, th {
  width: 25%;
}