<div class="row">
  <div class="columns mt-2">
    <div class="column col-12">
      <ngx-table [data]="kpi" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>
  </div>
</div>


  <div style="margin: auto; width: 810px;" class="row">
      <nb-card>
        <nb-card-header>Tableau de bord de la répartition totale des sms par écran sur les 30 derniers jours</nb-card-header>
        <form class="needs-validation" [formGroup]="dateSmsForm">
          <div class="form-group">
            <div class="row">
              <nb-card-body><input nbInput placeholder="sélectionner une période" type="text" formControlName="data_date_sms"
                  [nbDatepicker]="formpicker"> <span *ngIf="submittedDate"> période de {{diffInDays}} jours </span>
                <nb-rangepicker format="yyyy-MM-dd" #formpicker></nb-rangepicker>
                <div *ngIf="submittedDate && dateSmsForm.controls.data_date_sms.errors" class="error">
                  <div style="color:red;" *ngIf="dateSmsForm.controls.data_date_sms.errors.required">*champ
                    obligatoire
                  </div>
                </div>
              </nb-card-body>
                <nb-card-body>
                  <button (click)="onSubmitDateInterval()" class="btn btn-primary" rel="tooltip" data-original-title="">
                    Valider
                  </button>
                </nb-card-body>
            </div>
          </div>
        </form>
      </nb-card>
    
  </div>

<!--Chart line-->
<div style="margin: auto; width: 810px;" class="row">
<fusioncharts [chartConfig]=chartConfigSmsByScreen [dataSource]=dataSourceSmsByScreen>
</fusioncharts>
</div>
<!--Chart line-->

<div class="row" style="height: 20px; margin: auto;"></div>
<div style="margin: auto; width: 810px;" class="row">
    <fusioncharts [chartConfig]=chartConfigRateInSevenDays [dataSource]=dataSourceRateInSevenDays>
    </fusioncharts>
</div>


