<ngx-spinner></ngx-spinner>
<div class="col-md-12 col-xxxl-4">
  <nb-card size="medium">
    <nb-card-header style="margin: auto;">
      Contraintes pour uploader le fichier
    </nb-card-header>
    <nb-card-body>
      <div class="font-row">
        <p>
          Cette fonctionnalité éxige un certain nombre de régles à respecter avant son éxécution.
          Le champ de sélection du fichier ne prend en compte que les fichiers CSV et le fichier en
          question doit comporter au moins des infos en rapport avec celle de la base Participant.
          Pour son éxécution, il faut que les entêtes du fichier contiennent si les infos sont présentes les intitulés suivants:
        </p>
        <ol class="mb-5">
          <li style="font-family: Arial, Helvetica, sans-serif;">phone_number: pour les infos numéros de téléphone (commençant par +221, ce champ est obligatoire)</li>
          <li style="font-family: Arial, Helvetica, sans-serif;">age: pour les tranches d'âge (conformément aux tranches d'âge dans modification participant, Ex: 20 - 20; 30 - 39; +40; -20)</li>
          <li style="font-family: Arial, Helvetica, sans-serif;">gender: pour les genres (Homme ou Femme)</li>
          <li style="font-family: Arial, Helvetica, sans-serif;">cityId: pour la ville de résidence (Ex: Dakar, Diourbel etc...)</li>
          <li style="font-family: Arial, Helvetica, sans-serif;">profession: pour les infos de profession</li>
          <li style="font-family: Arial, Helvetica, sans-serif;">residence: pour les lieux de résidences</li>
          <li style="font-family: Arial, Helvetica, sans-serif;">usedLine: pour les lignes empruntées (numéro de la ligne uniquement, Ex: 46)</li>
          <li style="font-family: Arial, Helvetica, sans-serif;">autorisedNumber: pour les numéros d'autorisation (Oui ou Non)</li>
          <li style="font-family: Arial, Helvetica, sans-serif;">activationCampaign: pour les campagnes d'activation (nom de la campagne seulement, Ex: DECATHLON)</li>
        </ol>

        <div class="header">
          <div class="name bold" style="font-family: Arial, Helvetica, sans-serif;">Nb:
            <p>Les numéros de téléphones du fichier csv doivent tous commencer par +221 pour être en parfaite 
              corrélation avec les numéros de la base Participant. À part le numéro de téléphone(phone_number) qui est 
              obligatoire tous les autres champs sont optionnels</p>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div style="margin: auto;" class="row">
<div style="margin: auto;" class="col-lg-8">
    <nb-card style="margin: auto;">
    <nb-card-header style="margin: auto;">Uploader le fichier CSV
      <div *ngIf="loading_submit" class="clearfix">
        <div class="spinner-border text-primary float-right" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </nb-card-header>
    <div class="row">
    <nb-card-body style="margin: auto;" class="">

        <form class="md-form" [formGroup]="csvForm">
          <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
              <span>Choisir le fichier</span>
              <input type="file" (change)="changeListener($event.target.files)"  accept=".csv" formControlName="csvFile">
            </div>

            <div *ngIf="submittedCsv && csvForm.controls.csvFile.errors" class="error">
              <div style="color:red;" *ngIf="csvForm.controls.csvFile.errors.required">
                  *champ
                  obligatoire
              </div>
          </div>
          </div>
        </form>
        
        </nb-card-body>
        <nb-card-body>
          <button style="margin: auto;" type="button" data-toggle="modal" data-target=".bd-example-modal-sm" (click)="uploadCsvFile()" class="btn btn-primary" rel="tooltip" data-original-title="">
            Valider
          </button>
        </nb-card-body>
        
  </div>
</nb-card>
</div>
</div>