<div class="row">
  <div class="col-md-6 ">
    <nb-card>
      <nb-card-header>Choisir une période</nb-card-header>
      <form class="needs-validation" [formGroup]="dateSmsForm">
        <div class="form-group">
          <div class="row">
            <nb-card-body><input nbInput placeholder="Date " type="text" formControlName="data_date_sms"
                [nbDatepicker]="formpicker">
              <nb-rangepicker format="yyyy-MM-dd" #formpicker></nb-rangepicker>
              <div *ngIf="submittedDate && dateSmsForm.controls.data_date_sms.errors" class="error">
                <div style="color:red;" *ngIf="dateSmsForm.controls.data_date_sms.errors.required">*champ
                  obligatoire
                </div>
              </div>
            </nb-card-body>
            <div class="col-sm-4">
              <nb-card-body>
                <button (click)="onSubmitDateInterval()" class="btn btn-primary" rel="tooltip" data-original-title="">
                  Valider
                </button>
              </nb-card-body>
            </div>
          </div>
        </div>
      </form>
    </nb-card>
  </div>


  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Export en CSV</nb-card-header>
      <nb-card-body>
        <div class="col-sm-4" style="margin: auto;">
        <button (click)='downloadCSV()' class="btn btn-primary">
          Exporter
        </button>
      </div>
    </nb-card-body>
    </nb-card>
</div>
</div>

<!--<div class="col-lg-10" style="margin: auto;">
  <nb-card style="margin: auto; border-radius: 30px;">
    <nb-card-header>Crédit Sms</nb-card-header>
    <nb-card-body>
      <div style="font-family:Arial" class="col-md-4">
        Crédit <button style="margin-left: 10px;" nbButton [status]="'primary'" class="btn btn-success" hero>
          {{smsinfo.credit}}
        </button>
      </div>
      <div class="col-md-2" style="margin-left: auto; margin-right: auto;">
        <span style="font-family:Arial; margin-left: 5%;">Solde SMS</span>
        <button style="margin-left: 10px; margin-top: 10px;" nbButton [status]="'primary'" class="btn btn-success" hero>
         {{smsinfo.balance}}
        </button>
      </div>

      <div class="col-md-6" style="margin: auto;">
        <span style="font-family:Arial; margin-left: 5%;">Ajout SMS</span>
        <form class="needs-validation" [formGroup]="creditForm">
          <div class="form-group">
            <div class="row">
              <nb-card-body><input nbInput placeholder="Nombre de sms" type="number" formControlName="credit" >
                <div *ngIf="submittedCredit && creditForm.controls.credit.errors" class="error">
                  <div style="color:red;" *ngIf="creditForm.controls.credit.errors.required">*champ
                    obligatoire
                  </div>
                </div>
              </nb-card-body>
              <div class="col-sm-4">
                <nb-card-body>
                  <button (click)="onSubmitCredit()" class="btn btn-primary" rel="tooltip" data-original-title="">
                    Valider
                  </button>
                </nb-card-body>
              </div>
  
              
  
            </div>
          </div>
        </form>
      </div>
      
    </nb-card-body>
  </nb-card>
</div>-->

<!--<div style="margin: auto;" class="col-lg-12">
    <form style="margin: auto;" class="needs-validation" [formGroup]="participantForm">

  <nb-card style="margin: auto;">
    <nb-card-header style="margin: auto;">Répartition des SMS dépensés pour la qualification</nb-card-header>
    <div class="row">
    <nb-card-body style="margin: auto;" class="">
            <nb-select style="margin: auto;" placeholder="Choisir une Période" formControlName="stat">
            <nb-option *ngFor="let period  of periodTitle" value="{{period}}">{{period}}
            </nb-option>
        </nb-select>
        <div *ngIf="submittedSms && participantForm.controls.stat.errors" class="error">
            <div style="color:red;" *ngIf="participantForm.controls.stat.errors.required">
                *champ
                obligatoire
            </div>
        </div>
        </nb-card-body>

        <nb-card-body>
          <input nbInput placeholder="sélectionner une période" type="text" formControlName="period"
                [nbDatepicker]="datepicker">
                <nb-rangepicker format="yyyy-MM-dd" #datepicker></nb-rangepicker>
                <div *ngIf="submittedSms && participantForm.controls.period.errors" class="error">
                  <div style="color:red;" *ngIf="participantForm.controls.period.errors.required">
                      *champ
                      obligatoire
                  </div>
              </div>
        </nb-card-body>

            <nb-card-body style="margin: auto;" class="">
              <button style="margin: auto;" (click)="onSubmitSpentSms()" class="btn btn-primary" rel="tooltip" data-original-title="">
                Valider
              </button>
            </nb-card-body>
          </div>
            <nb-card-footer *ngIf="submittedSms" >
              <div class="row">
              <div style="margin: auto;" class="col-lg-5">
                <fusioncharts [chartConfig]=chartConfigAudience [dataSource]=dataSourceAudience>
                </fusioncharts>
              </div>
              <div style="margin: auto;" class="col-lg-5">
                <button  style="margin-right: 10px;background-color: rgb(17, 37, 148);color: white;" nbButton [routerLink]="" [status]="''" class="btn " hero>
                  {{smsCount}} SMS
                <div *ngIf="loading_sms" style="float: right; margin-left: 10px;" class="spinner-border text-light" role="status">
                  <span style="float: right;" class="sr-only">Loading...</span>
                </div>
                
              </button>
              </div>
            </div>
            </nb-card-footer>


  </nb-card>
</form>
</div>-->

<div class="columns mt-2">
  <div class="column col-12">
    <ngx-table [data]="data_sms" [configuration]="configuration" [columns]="columns"> </ngx-table>
  </div>
</div>


<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Choisir une campagne</nb-card-header>
      <form class="needs-validation" [formGroup]="surveyForm">
        <div class="form-group">
          <div class="row">
            <nb-card-body>
              <nb-select placeholder="Choisir la campagne de sondage" formControlName="survey_campaign_id">
                <nb-option *ngFor="let survey of surveycampaigns" value="{{survey._id}}">
                  {{survey.name}}
                </nb-option>
              </nb-select>
              <div *ngIf="submittedSurvey && surveyForm.controls.survey_campaign_id.errors" class="error">
                <div style="color:red;" *ngIf="surveyForm.controls.survey_campaign_id.errors.required">*champ
                  obligatoire
                </div>
              </div>
            </nb-card-body>
            <div class="col-sm-4">
              <nb-card-body>
                <button (click)="onSubmitSurvey()" class="btn btn-primary" rel="tooltip" data-original-title="">
                  Valider
                </button>
              </nb-card-body>
            </div>
          </div>
        </div>
      </form>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Graphe des Sms</nb-card-header>
      <nb-card-body>
        <div echarts [options]="options" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>