<div class="col-lg-12">
    <nb-card>
        <nb-card-header>Crétion d'une nouvelle campagne</nb-card-header>
        <nb-card-body>
            <div class="buttons-row">
                <button nbButton [routerLink]="'/pages/campaign'" [status]="'info'" class="btn btn-primary" hero>
                    Retour
                </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Création campagne</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" [formGroup]="surveyCampaignForm">
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Nom</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="name" nbInput fullWidth placeholder="Nom campagne">
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.name.errors" class="error">
                                <div style="color:red;" *ngIf="surveyCampaignForm.controls.name.errors.required">*champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Incentive</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth id="inputFirstName" formControlName="incentive"
                                placeholder="Incentive">
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.incentive.errors" class="error">
                                <div style="color:red;" *ngIf="surveyCampaignForm.controls.incentive.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Question
                            d'engagement</label>
                        <div class="col-sm-9">
                            <textarea rows="5" nbInput fullWidth shape="round" formControlName="engagement_question"
                                placeholder="Text Area"></textarea>
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.engagement_question.errors"
                                class="error">
                                <div style="color:red;"
                                    *ngIf="surveyCampaignForm.controls.engagement_question.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Valeur de
                            l'incentive</label>
                        <div class="col-sm-9">
                            <input type="number" nbInput fullWidth formControlName="incentive_value" id="inputFirstName"
                                placeholder="100FCFA, 200FCFA,etc.">
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.incentive_value.errors"
                                class="error">
                                <div style="color:red;"
                                    *ngIf="surveyCampaignForm.controls.incentive_value.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Format</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth formControlName="format" id="inputFirstName"
                                placeholder="Format">
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.format.errors" class="error">
                                <div style="color:red;" *ngIf="surveyCampaignForm.controls.format.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Campagne code</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth formControlName="campaign_code" id="inputFirstName"
                                placeholder="optionnel">
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.campaign_code.errors"
                                class="error">
                                <div style="color:red;"
                                    *ngIf="surveyCampaignForm.controls.campaign_code.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Nb
                            Participation/jour</label>
                        <div class="col-sm-9">
                            <input type="number" nbInput fullWidth formControlName="nb_participate" id="inputFirstName"
                                placeholder="nombre de Participation par Jour">
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.nb_participate.errors"
                                class="error">
                                <div style="color:red;"
                                    *ngIf="surveyCampaignForm.controls.nb_participate.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Frequence par jour</label>
                        <div class="col-sm-9">
                            <input type="number" nbInput fullWidth formControlName="frequence_day" id="inputFirstName"
                                placeholder="frequence par Jour">
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.frequence_day.errors"
                                class="error">
                                <div style="color:red;"
                                    *ngIf="surveyCampaignForm.controls.frequence_day.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Option
                            d'interaction</label>
                        <div class="validation-checkboxes">
                            <nb-checkbox (checkedChange)="toggle_sms($event)" status="success">SMS</nb-checkbox>
                            <nb-checkbox (checkedChange)="toggle_ussd($event)" status="warning">USSD</nb-checkbox>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Partenaires</label>
                        <nb-card>
                            <nb-select placeholder="Choisir un partenaire" formControlName="smspartner_id">
                                <nb-option *ngFor="let partner  of partners" value="{{partner._id}}">{{partner.name}}
                                </nb-option>
                            </nb-select>
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.smspartner_id.errors"
                                class="error">
                                <div style="color:red;"
                                    *ngIf="surveyCampaignForm.controls.smspartner_id.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </nb-card>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Adpoints</label>
                        <nb-card>
                            <nb-select placeholder="Choisir un adpoint" formControlName="smsadpoint_id">
                                <nb-option *ngFor="let adpoint  of adpoints" value="{{adpoint._id}}">{{adpoint.name}}
                                </nb-option>
                            </nb-select>
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.smsadpoint_id.errors"
                                class="error">
                                <div style="color:red;"
                                    *ngIf="surveyCampaignForm.controls.smsadpoint_id.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </nb-card>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Mot clé</label>
                        <nb-card>
                            <nb-select placeholder="Choisir un mot cle" formControlName="keyword_id">
                                <nb-option *ngFor="let keyword  of keywords" value="{{keyword._id}}">{{keyword.name}}
                                </nb-option>
                            </nb-select>
                            <div *ngIf="submittedSurvey && surveyCampaignForm.controls.keyword_id.errors" class="error">
                                <div style="color:red;" *ngIf="surveyCampaignForm.controls.keyword_id.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </nb-card>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Campagne digitale</label>
                        <nb-card>
                            <nb-select placeholder="choisir une campagne" formControlName="campaign_id">
                                <nb-option *ngFor="let campaign of campaigns" value="{{campaign._id}}">{{campaign.name}}
                                </nb-option>
                            </nb-select>
                          <!--  <div *ngIf="submittedSurvey && surveyCampaignForm.controls.campaign_id.errors"
                                class="error">
                                <div style="color:red;" *ngIf="surveyCampaignForm.controls.campaign_id.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div> -->
                        </nb-card>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Campagne Print</label>
                        <nb-card>
                            <nb-select placeholder="Choisir une campagne print" formControlName="print_id">
                                <nb-option *ngFor="let print of prints" value="{{print._id}}">{{print.name}}
                                </nb-option>
                            </nb-select>
                            <!--  <div *ngIf="submittedSurvey && surveyCampaignForm.controls.print_id.errors" class="error">
                                <div style="color:red;" *ngIf="surveyCampaignForm.controls.print_id.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div> -->
                        </nb-card>
                    </div>

                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Client</label>
                        <nb-card>
                            <nb-select placeholder="Choisir un client" formControlName="customerId">
                                <nb-option *ngFor="let customer of customers" value="{{customer._id}}">{{customer.customerName}}
                                </nb-option>
                            </nb-select>
                              <div *ngIf="submittedSurvey && surveyCampaignForm.controls.customerId.errors" class="error">
                                <div style="color:red;" *ngIf="surveyCampaignForm.controls.customerId.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div> 
                        </nb-card>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button (click)="onSubmitSurveyCampaign()" nbButton status="danger">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <!-- Partner -->
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Création Partenaire</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" [formGroup]="surveyPartnerForm">
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Nom Partenaire</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="name" nbInput fullWidth placeholder="Nom partenaire">
                            <div *ngIf="submittedPartner && surveyPartnerForm.controls.name.errors" class="error">
                                <div style="color:red;" *ngIf="surveyPartnerForm.controls.name.errors.required">*champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="submittedPartner && successPartner" class="error">
                        <div style="color:green;">Enregistrement réussi
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button (click)="onSubmitSurveyPartner()" nbButton status="danger">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <!-- Adpoint  -->
            <nb-card>
                <nb-card-header>Création Adpoint</nb-card-header>
                <nb-card-body>
                    <form class="form-horizontal" [formGroup]="surveyAdpointForm">
                        <div class="form-group row">
                            <label for="inputFirstName" class="label col-sm-3 form-control-label">Nom Adpoint</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="name" nbInput fullWidth placeholder="Nom adpoint">
                                <div *ngIf="submittedAdpoint && surveyAdpointForm.controls.name.errors" class="error">
                                    <div style="color:red;" *ngIf="surveyAdpointForm.controls.name.errors.required">
                                        *champ
                                        obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="submittedAdpoint && successAdpoint" class="error">
                            <div style="color:green;">Enregistrement réussi
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-3 col-sm-9">
                                <button (click)="onSubmitSurveyAdpoint()" nbButton status="danger">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
    </div>
</div>