<div class="columns mt-2">
    <div class="column col-12">
        <ngx-table [data]="data" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>
</div>
<ng-template #actionTpl let-row let-rowIndex="rowIndex">
  <button [routerLink]="['/pages/customer/', row._id]" class="btn btn-info">Voir Campagnes</button>
</ng-template>