<div class="col-lg-12">
    <nb-card>
      <nb-card-header>Réponse</nb-card-header>
      <nb-card-body>
        <div class="buttons-row">
          <button nbButton [routerLink]="'/pages/response/add'" [status]="'primary'" class="btn btn-primary" hero>
            nouvelle réponse
          </button>
        </div>
      </nb-card-body>
    </nb-card>
</div>
<div class="columns mt-2">
    <div class="column col-12">
        <ngx-table [data]="responses" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>
</div>

<ng-template #responseTpl let-row let-rowIndex="rowIndex">
  <div class="phone" *ngIf="selectRow !== rowIndex">{{ row.response }}</div>
  <div *ngIf="selectRow === rowIndex">
    <input type="text" #response placeholder="" class="form-label" [value]="row.response" />
  </div>
</ng-template>

<ng-template #actionTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="selectRow !== rowIndex" class="btn btn-primary" (click)="edit(rowIndex)"><i class="fa fa-edit"></i></div>
  <div *ngIf="selectRow === rowIndex" class="btn btn-success" (click)="update(row)">Enregistrer</div>
 <!-- <div (click)="delete(rowIndex)" class="btn btn-danger"><i class="fa fa-times "></i></div>  -->
 <div class="btn btn-danger"><em class="fa fa-times" mwlConfirmationPopover
  [popoverTitle]="popoverTitle"
  [popoverMessage]="popoverMessage"
  placement="left"
  (confirm)="removeResponse(row)"
  (cancel)="cancelClicked = true"></em></div> 
</ng-template>