<!--<div class="columns mt-2">
    <div class="column col-12">
        <ngx-table [data]="data" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>
</div>-->
<div class="table-responsive">
<table class="table align-items-center table-light table-flush">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Support</th>
            <th scope="col">Campagne</th>
            <th scope="col">Audience touchée</th>
            <th scope="col">Audience activée</th>
            <th scope="col">État</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of data">
            <td scope="row">
                <div class="media align-items-center">
                    <div class="media-body">
                        <span class="mb-0 text-sm">{{data.date}}</span>
                    </div>
                </div>
            </td>
            <td>
                <img *ngIf="!data.video" style="width: 200px; height: 100px;" src="{{data.img}}" alt="">
                <img *ngIf="data.video" style="width: 200px; height: 100px;" controls src="{{data.img}}">
            </td>
            <td style="margin: auto;">
                {{data.name}}
            </td>
            <td>
                {{data.allUser}}
            </td>
            <td>
                {{data.uniqueUser}}
            </td>
        <td style="color: {{data.color}}">
                {{data.state}}
            </td>
            <td class="text-right">
                <button *ngIf="data.state == 'en cours'" (click)="onClickButton('boost', data.name)" rel="tooltip"
                    class="btn btn-info btn-icon btn-sm "
                    data-original-title="" value=boost title="titre">Booster</button>
                    <button *ngIf="data.state == 'terminée'" (click)="onClickButton('remake', data.name)" rel="tooltip"
                    class="btn btn-info btn-icon btn-sm " 
                    data-original-title="" value="remake" title="">Relancer</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div class="row">
    <nb-card style="margin: auto;">
      <nb-card-header>Veuillez choisir une campagne</nb-card-header>
      <form class="needs-validation" [formGroup]="dateSmsForm">
        <div class="form-group">
            <nb-card-body class="col-sm-4"><nb-select placeholder="Choisir une campagne" formControlName="campaign">
              <nb-option (click)="onSelected(survey.name)" *ngFor="let survey  of data" value="{{survey.name}}">{{survey.name}}
              </nb-option>
          </nb-select>
          <div *ngIf="submittedDate && dateSmsForm.controls.campaign.errors" class="error">
              <div style="color:red;" *ngIf="dateSmsForm.controls.campaign.errors.required">
                  *champ
                  obligatoire
              </div>
          </div>
          </nb-card-body>
          <nb-card-body class="col-sm-3">
            <span *ngIf="selected"> Du {{firstDate}} au {{secondDate}}: </span>
          <span *ngIf="selected"> Période de {{surveyInfo}} jours </span>
          </nb-card-body>
              <nb-card-body class="col-sm-2">
                <button (click)="onSubmitDateInterval()" class="btn btn-primary" rel="tooltip" data-original-title="">
                  Valider
                </button>
              </nb-card-body>
        </div>
      </form>
    </nb-card>
</div>

<nb-card>
    <fusioncharts *ngIf="submittedDate"
    [width]="width"
    [height]="height"
    [type]="type"
    [dataFormat]="dataFormat"
    [dataSource]="dataSource"
  >
  </fusioncharts>
  </nb-card>
  
  <div class="row">
    <nb-card  *ngIf="submittedDate" class="col-sm-6">
      <nb-card-body class="">
        <fusioncharts [chartConfig]=chartConfigGender [dataSource]=dataSourceGender>
        </fusioncharts>
      </nb-card-body>
      <nb-card-footer>
        <span style="color: grey; margin-left: 23%;">Nombre d'enregistrements: {{chartGenderLegend}}</span>
      </nb-card-footer>
    </nb-card>
  
    <nb-card  *ngIf="submittedDate" class="col-sm-6">
      <nb-card-body class="">
        <fusioncharts [chartConfig]=chartConfigAge [dataSource]=dataSourceAge>
        </fusioncharts>
      </nb-card-body>
    </nb-card>
  
    <nb-card  *ngIf="submittedDate" class="col-sm-6">
          <nb-card-body class="">
            <fusioncharts [chartConfig]=chartConfigJob [dataSource]=dataSourceJob>
            </fusioncharts>
          </nb-card-body>
        </nb-card>
  
        <nb-card  *ngIf="submittedDate" class="col-sm-6">
          <nb-card-body class="">
            <fusioncharts [chartConfig]=chartConfigLine [dataSource]=dataSourceLine>
            </fusioncharts>
          </nb-card-body>
        </nb-card>
  </div>