<div class="col-lg-12">
    <nb-card>
        <nb-card-header>Création de réponse</nb-card-header>
        <nb-card-body>
            <div class="buttons-row">
                <button nbButton [routerLink]="'/pages/response'" [status]="'info'" class="btn btn-primary" hero>
                    Retour
                </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Création réponse</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" [formGroup]="responseForm">
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Choix campagne de sondage</label>
                        <div class="col-sm-9">
                            <nb-card>
                                <nb-select placeholder="Choisir la campagne" (ngModelChange)="toggleSurvey($event)" formControlName="survey_campaign_id">
                                    <nb-option *ngFor="let survey of surveycampaigns"  value="{{survey._id}}">
                                        {{survey.name}}
                                    </nb-option>
                                </nb-select>
                                <div *ngIf="submittedResponse && responseForm.controls.survey_campaign_id.errors"
                                    class="error">
                                    <div style="color:red;"
                                        *ngIf="responseForm.controls.survey_campaign_id.errors.required">
                                        *champ
                                        obligatoire
                                    </div>
                                </div>
                            </nb-card>
                        </div>
                    </div>
                    <div *ngIf="survey_selected" class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">L'ordre du message</label>
                        <div class="col-sm-9">
                            <nb-card>
                                <nb-select placeholder="Choisir l'ordre du message'" (ngModelChange)="toggleMessage($event)"  formControlName="order">
                                    <nb-option *ngFor="let message of messages" value="{{message.wording}}--{{message._id}}">
                                        {{message.order}}
                                    </nb-option>
                                </nb-select>
                                <div *ngIf="submittedResponse && responseForm.controls.order.errors"
                                    class="error">
                                    <div style="color:red;"
                                        *ngIf="responseForm.controls.order.errors.required">
                                        *champ
                                        obligatoire
                                    </div>
                                </div>
                            </nb-card>
                        </div>
                    </div>
                    <div  class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Le message correspondant</label>
                        <div class="col-sm-9">
                            <nb-card>
                                <textarea rows="5"  style="color:black;" ng-model="string" nbInput fullWidth shape="round"
                                disabled>{{message_selected}}</textarea>
                            </nb-card>
                        </div>
                    </div>
                    <div  *ngIf="survey_selected" class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Les réponses</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth id="inputFirstName" formControlName="response"
                                placeholder="1,2,3,RPL">
                            <div *ngIf="submittedResponse && responseForm.controls.response.errors" class="error">
                                <div style="color:red;" *ngIf="responseForm.controls.response.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button (click)="onSubmitResponse()" nbButton status="danger">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>