
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <nb-card>
      <nb-card-header>Tableau de bord de l'audience totale répartie par défaut sur les 7 derniers jours</nb-card-header>
      <form class="needs-validation" [formGroup]="dateSmsForm">
        <div class="form-group">
          <div class="row">
            <nb-card-body><input nbInput placeholder="sélectionner une période" type="text" formControlName="data_date_sms"
                [nbDatepicker]="formpicker"> <span *ngIf="submittedDate"> période de {{diffInDays}} jours </span>
              <nb-rangepicker format="yyyy-MM-dd" #formpicker></nb-rangepicker>
              <div *ngIf="submittedDate && dateSmsForm.controls.data_date_sms.errors" class="error">
                <div style="color:red;" *ngIf="dateSmsForm.controls.data_date_sms.errors.required">*champ
                  obligatoire
                </div>
              </div>
            </nb-card-body>
              <nb-card-body>
                <button (click)="onSubmitDateInterval()" class="btn btn-primary" rel="tooltip" data-original-title="">
                  Valider
                </button>
              </nb-card-body>
          </div>
        </div>
      </form>
    </nb-card>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
    <nb-card style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Nombre de bus contenant un message firefly</nb-card-header>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          <div *ngIf="loading_data" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          <div>
            Digital : <span style="float: right;"><h6>{{data}}</h6></span>
          </div>
          
          <div style="margin-bottom: 0%">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorData}};">{{compareData}} <img style="width: 15px; float: right;" src="{{pathImgData}}" alt=""></span>
          </div>
        </div>
        
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_print" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          Print : <span style="float: right;"><h6>{{print}}</h6></span>
          <div style="margin-bottom: 0%">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorPrint}};">{{comparePrint}} <img style="width: 15px; float: right;" src="{{pathImgPrint}}" alt=""></span>
          </div>
        </div>
        
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_total_bus_unique" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          Bus uniques : <span style="float: right;"><h6>{{total_bus_unique}}</h6></span>
        </div>
        <div style="margin-bottom: 0%;">
          <span style="position:absolute; bottom:auto; right:18px; color: {{colorBusUnique}};">{{compareBusUnique}} <img style="width: 15px; float: right; background-color: colorBusUnique;" src="{{pathImgBusUnique}}" title=""></span>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Audience totale détectée</nb-card-header>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          <div *ngIf="loading_probe" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          Rpi(1) : <span style="float: right;"><h6>{{ spaces(probe) }}</h6></span>
          <div style="margin-bottom: 0%;">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorProbe}};">{{compareProbe}} <img style="width: 15px; float: right;" src="{{pathImgProbe}}" alt=""></span>
          </div>
        </div>

      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_total_bus_unique" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">chargement...</span>
            </div>
          </div>
          Estimé : <span style="float: right;"><h6>{{ spaces(finalEstimate) }}</h6></span>
          <div style="margin-bottom: 0%;">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorEstimatedResult}};">{{compareEstimatedResult}} <img style="width: 15px; float: right;" src="{{pathImgEstimatedResult}}" alt=""></span>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Exposition totale</nb-card-header>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          <div *ngIf="loading_total_open" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          Ecrans(pop) : <span style="float: right;"><h6>{{ spaces(total_open) }}</h6></span>
          <div style="margin-bottom: 0%;">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorPop}};">{{comparePop}} <img style="width: 15px; float: right;" src="{{pathImgPop}}" alt=""></span>
          </div>
        </div>

      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_printStickers" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          Stickers : <span style="float: right;"><h6>{{printStickers}}</h6></span>
        </div>
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_printFL" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          FL, HBA, etc... : <span style="float: right;"><h6>{{printFL}}</h6></span>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Personnes touchées</nb-card-header>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          <div *ngIf="loading_user_in_the_bus" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          Digital : <span style="float: right;"><h6>{{ spaces(allUsersInTheBus) }}</h6></span>
          <div style="margin-bottom: 0%;">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorUserInTheBus}};">{{compareUserInTheBus}} <img style="width: 15px; float: right;" src="{{pathImgUserInTheBus}}" alt=""></span>
          </div>
        </div>

      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_sticker_user" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          Stickers : <span style="float: right;"><h6>{{ spaces(sticker_user) }}</h6></span>
        </div>
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_print" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          Print : <span style="float: right;"><h6>{{ spaces(finalPrintUsers) }}</h6></span>
          <div style="margin-bottom: 0%;">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorPrintUsers}};">{{comparePrintUsers}} <img style="width: 15px; float: right;" src="{{pathImgPrintUsers}}" alt=""></span>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Personnes engagées</nb-card-header>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          Nombre d’utilisateurs uniques total ayant envoyé un sms : <span style="float: right;"><h6>{{ spaces(total_participant_week) }}</h6></span>
          <div *ngIf="loading_total_participant_week" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          <div style="margin-bottom: 0%;">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorParticipantWeek}};">{{compareParticipantWeek}} <img style="width: 15px; float: right;" src="{{pathImgParticipantWeek}}" alt=""></span>
          </div>
        </div>

      </nb-card-body>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          Nombre total SMS recus : <span style="float: right;"><h6>{{ spaces(total_sms_received) }}</h6></span>
          <div *ngIf="loading_total_sms_received" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
          <div style="margin-bottom: 0%;">
            <span style="position:absolute; bottom:auto; right:18px; color: {{colorSmsReceive}};">{{compareSmsReceive}} <img style="width: 15px; float: right;" src="{{pathImgSmsReceive}}" alt=""></span>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Utilisateurs</nb-card-header>


      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          Nombre de nouveaux d'utilisateurs uniques : <span style="float: right;"><h6>{{ spaces(newParticipant) }}</h6></span>
          <div *ngIf="loading_newParticipant" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
        </div>
      </nb-card-body>


      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          Nombre d'utilisateurs uniques en Base : <span style="float: right;"><h6>{{ spaces(total_participant) }}</h6></span>
          <div *ngIf="loading_total_participant" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Chargement ...</span>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
</div>


<div class="col-lg-12">
  <nb-card>
    <nb-card-body>
      <fusioncharts [chartConfig]=chartConfigResidence [dataSource]=dataSourceResidence>
      </fusioncharts>
    </nb-card-body>
  </nb-card>
</div>

<div class="row">
<nb-card class="col-sm-6">
  <nb-card-body class="">
      <fusioncharts [chartConfig]=chartConfigAge [dataSource]=dataSourceAge>
      </fusioncharts>
  </nb-card-body>
</nb-card>
<nb-card class="col-sm-6">
  <nb-card-body class="">
      <fusioncharts [chartConfig]=chartConfigJob [dataSource]=dataSourceJob>
      </fusioncharts>
  </nb-card-body>
</nb-card>
</div>

<div class="col-lg-12">
  <nb-card>
    <nb-card-body>
      <fusioncharts [chartConfig]=chartConfigLine [dataSource]=dataSourceLine>
      </fusioncharts>
    </nb-card-body>
  </nb-card>
</div>

<div class="col-lg-12">
  <nb-card>
    <nb-card-body>
      <fusioncharts [chartConfig]=chartConfigAllGender [dataSource]=dataSourceAllGender>
      </fusioncharts>
    </nb-card-body>
  </nb-card>
</div>

    
  