
<div class="row">

  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>Choisir une période</nb-card-header>
      <form class="needs-validation" [formGroup]="growthForm">
        <div class="form-group">
          <div class="row">
            <nb-card-body>
              <nb-select placeholder="Choisir la période" formControlName="period">
                <nb-option *ngFor="let growth of growth_body" value="{{growth._id}}">
                  {{growth.name}}
                </nb-option>
              </nb-select>
              <div *ngIf="submittedGrowth && growthForm.controls.period.errors" class="error">
                <div style="color:red;" *ngIf="growthForm.controls.period.errors.required">*champ
                  obligatoire
                </div>
              </div>
            </nb-card-body>

            <nb-card-body>
              <input nbInput placeholder="sélectionner une période" type="text" formControlName="date"
                    [nbDatepicker]="formpicker">
                    <nb-rangepicker format="yyyy-MM-dd" #formpicker></nb-rangepicker>
                    <div *ngIf="submittedGrowth && growthForm.controls.date.errors" class="error">
                      <div style="color:red;" *ngIf="growthForm.controls.date.errors.required">
                          *champ
                          obligatoire
                      </div>
                  </div>
            </nb-card-body>

            <div class="col-sm-4">
              <nb-card-body>
                <button (click)="onSubmitGrowth()" class="btn btn-primary" rel="tooltip" data-original-title="">
                  Valider
                </button>
              </nb-card-body>
            </div>
          </div>
        </div>
      </form>
    </nb-card>
  </div>

  <div class="columns mt-2">
    <div class="column col-12">
      <ngx-table [data]="growths" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>
  </div>
</div> 


<div class="row">

  <!--Chart line-->
  <div *ngIf="!submitChart" style="margin: auto;" class="col-sm-6">
  <fusioncharts [chartConfig]=chartConfigGrowth [dataSource]=dataSourceGrowth>
  </fusioncharts>
  </div>
  <!--Chart line-->

  <!--Chart line-->
  <div *ngIf="submitChart" style="margin: auto;" class="col-sm-6">
    <fusioncharts [chartConfig]=chartConfigGrowthByPeriod [dataSource]=dataSourceGrowthByPeriod>
    </fusioncharts>
    </div>
    <!--Chart line-->

    <div style="margin: auto;" class="col-sm-6">
      <fusioncharts [chartConfig]=chartConfigGrowthOpen [dataSource]=dataSourceGrowthOpen>
      </fusioncharts>
      </div>
  </div>

  <div style="height: 10px;"></div>

  <div class="row">
    <div style="margin: auto;" class="col-sm-6">
      <fusioncharts [chartConfig]=chartConfigGrowthDeployment [dataSource]=dataSourceGrowthDeployment>
      </fusioncharts>
      </div>

<div style="margin: auto;" class="col-sm-6">
  <fusioncharts
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSourceSevenDays">
</fusioncharts>
</div>

</div>

<div style="height: 10px;"></div>
<div class="row">
  <div style="margin: auto;" class="col-sm-6">
    <fusioncharts [chartConfig]=chartConfigNewPhone [dataSource]=dataSourceNewPhone>
    </fusioncharts>
    </div>
</div>