<div class="col-lg-12">
  <div style="font-family:Arial; margin-left: -12px;" class="col-sm-3">
    <button nbButton [routerLink]="'/pages/participant/add'" [status]="'info'" class="btn btn-primary" hero>
      nouveau participant
    </button>
  </div>

    <nb-card>

      <nb-card-header style="margin: auto;float: inline-start;">Participants Qualifiés <br/>

      </nb-card-header>
      <nb-card-body >

        <div style="font-family:Arial; margin: auto;" class="row">

          <div class="col-sm-3" style="margin: auto;text-align: center;">
            <span style="font-family:Arial; width: max-content; font-size: 14px">Qualification maximum<br/></span>
            <span style="font-family:Arial; width: max-content; font-size: 10px">(7 à 9 critères)<br/></span>

            <button style="text-align: center; background-color: rgb(17, 37, 148);color: white;" nbButton [routerLink]="" [status]="''" class="btn " hero>
            {{numMaxQualified}}
            <div *ngIf="loading_max" style="float: right; margin-left: 10px;" class="spinner-border text-light" role="status">
              <span style="float: right;" class="sr-only">Loading...</span>
            </div>
            <circle-progress
            [percent]=rateMaxQualified
            [radius]="27"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [titleColor]="'#FFFFFF'"
            [titleFontWeight]="900"
            [unitsColor]="'#FFFFFF'"
            [unitsFontWeight]="900"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
          </button>

          <div class="row col-sm-6" style="margin-left: auto;margin-right: auto;" >
            <div (click)="popupStatus('maximum')">
              <i class="fas fa-eye fa-lg" style="color: rgb(17, 37, 148);  margin-right: 10px;margin-left: 5px; margin-top: 5px;"></i>
            </div>
            <div (click)="download('maximum')">
              <i class="fas fa-file-download fa-lg" style="color: rgb(17, 37, 148); margin-left: 5px; margin-top: 5px;"></i>
            </div>
        </div>
        </div>

        <div class="col-sm-3" style="margin: auto;text-align: center;">
          <span style="font-family:Arial; text-align: center;font-size: 14px">Qualification intermédiaire<br/></span>
          <span style="font-family:Arial; text-align: center;font-size: 10px">(2 à 6 critères)<br/></span>
          <button  style="margin-right: 10px;background-color: hotpink;color: white;" nbButton [routerLink]="" [status]="''" class="btn " hero>
            {{numIntQualified}}
          <div *ngIf="loading_int" style="float: right; margin-left: 10px;" class="spinner-border text-light" role="status">
            <span style="float: right;" class="sr-only">Loading...</span>
          </div>
          <circle-progress
            [percent]=rateIntQualified
            [radius]="27"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [titleColor]="'#FFFFFF'"
            [titleFontWeight]="900"
            [unitsColor]="'#FFFFFF'"
            [unitsFontWeight]="900"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </button>
      <div class="row col-sm-6" style="margin-left: auto;margin-right: auto;">
        <div (click)="popupStatus('intermediaire')">
          <i class="fas fa-eye fa-lg" style="color: hotpink;margin-right: 10px;margin-left: 5px; margin-top: 5px;"></i>
        </div>
        <div (click)="download('intermédiaire')">
          <i class="fas fa-file-download fa-lg" style="color: hotpink;margin-left: 5px; margin-top: 5px;"></i></div>
      </div>
    </div>

      <div class="col-sm-3" style="margin: auto;text-align: center;">
        <span style="font-family:Arial; text-align: center; font-size: 14px;">Qualification null<br/></span>
        <span style="font-family:Arial; text-align: center;font-size:10px">(1 critère)<br/></span>
        <button style="text-align: center;background-color: crimson;color: white;" nbButton [routerLink]="" [status]="''" class="btn " hero>
          {{numNullQualified}}
        <div *ngIf="loading_null" style="float: right; margin-left: 10px;" class="spinner-border text-light" role="status">
          <span style="float: right;" class="sr-only">Loading...</span>
        </div>
        <circle-progress
          [percent]=rateNullQualified
          [radius]="27"
          [outerStrokeWidth]="2"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#FFFFFF'"
          [innerStrokeColor]="'#FFFFFF'"
          [titleColor]="'#FFFFFF'"
          [titleFontWeight]="900"
          [unitsColor]="'#FFFFFF'"
          [unitsFontWeight]="900"
          [showSubtitle]="false"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </button>
    <div class="row col-sm-6" style="margin-left: auto;margin-right: auto;">
      <div (click)="popupStatus('null')">
        <i class="fas fa-eye fa-lg" style="color: crimson;margin-right: 10px;margin-left: 5px; margin-top: 5px;"></i>
      </div>
      <div (click)="download('null')">
        <i class="fas fa-file-download fa-lg" style="color: crimson;margin-left: 5px; margin-top: 5px;"></i>
      </div>
    </div>
  </div>

      <div class="col-sm-3" style="margin: auto; font-family:Arial;text-align: center;">
        <span style="font-family:Arial; text-align: center;font-size: 14px">Opt-in<br/> </span>
        <span style="font-family:Arial; width: max-content; font-size: 10px">(numéro autorisé)<br/></span>
        <button style="text-align: center; background-color: aqua;color: white;" nbButton [routerLink]="" [status]="''" class="btn " hero>
          {{numAutorised}}

          <div *ngIf="loading_autorised" style="float: right; margin-left: 10px;" class="spinner-border text-light" role="status">
            <span style="float: right;" class="sr-only">Loading...</span>
          </div>
          <circle-progress
          [percent]=rateAutorised
          [radius]="27"
          [outerStrokeWidth]="2"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#FFFFFF'"
          [innerStrokeColor]="'#FFFFFF'"
          [titleColor]="'#FFFFFF'"
          [titleFontWeight]="900"
          [unitsColor]="'#FFFFFF'"
          [unitsFontWeight]="900"
          [showSubtitle]="false"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
        </button>
      <div class="row col-sm-6" style="margin-left: auto;margin-right: auto;">
        <div (click)="popupStatus('autorised')">
          <i class="fas fa-eye fa-lg" style="color: aqua;margin-right: 10px;margin-left: 5px; margin-top: 5px;"></i>
        </div>
        <div (click)="download('autorised')">
          <i class="fas fa-file-download fa-lg" style="color: aqua;margin-left: 5px; margin-top: 5px;"></i>
        </div>
      </div>
    </div>
        </div>

        <div style="font-family:Arial; display: flex;justify-content: center;margin-top: 20px;" class="">
          <button nbButton (click)="download('all')" [status]="'success'" class="btn btn-primary" hero>
            Exporter tous les participants
            <div *ngIf="loading_all" style="float: right; margin-left: 10px;" class="spinner-border text-light" role="status">
              <span style="float: right;" class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </nb-card-body>
    </nb-card>
</div>


<div style="margin: auto;" class="col-lg-8">
  <form style="margin: auto;" class="needs-validation" [formGroup]="critereForm">
    <nb-card style="margin: auto;">
      <nb-card-header style="margin: auto;">Export participants/critère
        <div *ngIf="loading_critere" style="float: right; margin-left: 10px;" class="spinner-border text-dark" role="status">
          <span style="float: right;" class="sr-only">Loading...</span>
        </div>
      </nb-card-header>
      <div class="row">
      <nb-card-body style="margin: auto;" class="">
        <nb-select style="margin: auto;" placeholder="Choisir un critère" formControlName="criteria">
        <nb-option (click)="onSubmitValue(period)" *ngFor="let period  of critere_list" value="{{period}}">{{period}}
        </nb-option>
    </nb-select>
    <div *ngIf="submittedCritere && critereForm.controls.campaign.errors" class="error">
        <div style="color:red;" *ngIf="critereForm.controls.criteria.errors.required">
            *champ
            obligatoire
        </div>
    </div>
    </nb-card-body>

    <nb-card-body *ngIf="hide_value" style="margin: auto;" class="">
      <nb-select style="margin: auto;" placeholder="Choisir une valeur" formControlName="value">
      <nb-option *ngFor="let period  of critere_value" value="{{period}}">{{period}}
      </nb-option>
  </nb-select>
  <div *ngIf="submittedCritere && critereForm.controls.value.errors" class="error">
      <div style="color:red;" *ngIf="critereForm.controls.value.errors.required">
          *champ
          obligatoire
      </div>
  </div>
  </nb-card-body>

  <nb-card-body *ngIf="hide_value" style="margin: auto;" class="">
    <button style="margin: auto;" (click)="onSubmitCritere()" class="btn btn-primary" rel="tooltip" data-original-title="">
      Exporter
    </button>
  </nb-card-body>
</div>
    </nb-card>
  </form>
</div>
<br/>

  <!--<div class="col-lg-2"></div>-->
  <div style="margin: auto;" class="col-lg-12">
    <form style="margin: auto;" class="needs-validation" [formGroup]="dateSmsForm">

  <nb-card style="margin: auto;">
    <nb-card-header style="margin: auto;">Répartition de l'audience qualifiée par période</nb-card-header>
    <div class="row">
    <nb-card-body style="margin: auto;" class="">
            <nb-select style="margin: auto;" placeholder="Choisir une Période" formControlName="campaign">
            <nb-option *ngFor="let period  of periodTitle" value="{{period}}">{{period}}
            </nb-option>
        </nb-select>
        <div *ngIf="submittedDate && dateSmsForm.controls.campaign.errors" class="error">
            <div style="color:red;" *ngIf="dateSmsForm.controls.campaign.errors.required">
                *champ
                obligatoire
            </div>
        </div>
        </nb-card-body>

        <nb-card-body>
          <input nbInput placeholder="sélectionner une période" type="text" formControlName="date"
                [nbDatepicker]="formpicker">
                <nb-rangepicker format="yyyy-MM-dd" #formpicker></nb-rangepicker>
                <div *ngIf="submittedDate && dateSmsForm.controls.date.errors" class="error">
                  <div style="color:red;" *ngIf="dateSmsForm.controls.date.errors.required">
                      *champ
                      obligatoire
                  </div>
              </div>
        </nb-card-body>

            <nb-card-body style="margin: auto;" class="">
              <button style="margin: auto;" (click)="onSubmitDateInterval()" class="btn btn-primary" rel="tooltip" data-original-title="">
                Valider
              </button>
            </nb-card-body>
          </div>
            <nb-card-footer *ngIf="submittedDate" >
              <div class="row">
              <div style="margin: auto;" class="col-lg-4">
                <fusioncharts [chartConfig]=chartConfigAudience [dataSource]=dataSourceAudience>
                </fusioncharts>
              </div>
              <div style="margin: auto;" class="col-lg-4">
              <fusioncharts [chartConfig]=chartConfigNull [dataSource]=dataSourceNull>
              </fusioncharts></div>
              <div style="margin: auto;" class="col-lg-4">
                <fusioncharts [chartConfig]=chartConfigOptIn [dataSource]=dataSourceOptIn>
                </fusioncharts>
              </div>
            </div>
            </nb-card-footer>


  </nb-card>
</form>
</div>
<br/>


<div style="margin: auto;" class="col-lg-8">
  <nb-card style="margin: auto;">
    <nb-card-header style="margin: auto;" class="needs-validation" [formGroup]="dateForm">
      Filtrer les participants par période en fonction de la date de dernier SMS reçu
    </nb-card-header>
    <form style="margin: auto;" [formGroup]="dateForm">
      <div >
      <nb-card-body>
      <input nbInput placeholder="sélectionner une période" type="text" formControlName="Date"
            [nbDatepicker]="datepicker" >
            <nb-rangepicker format="yyyy-MM-dd" style="margin-right: 20px;" #datepicker></nb-rangepicker>
            <div *ngIf="submittedPeriod && dateForm.controls.Date.errors" class="error">
              <div style="color:red;" *ngIf="dateForm.controls.Date.errors.required">
                  *champ
                  obligatoire
              </div>
          </div>
          <button style="margin: auto;" (click)="onSubmitPeriod()" class="btn btn-primary" rel="tooltip" data-original-title="">
            Valider
          </button>
    </nb-card-body>
      </div>
  </form>
  </nb-card>
</div>


<div class="columns">
  <div class="column col-12">
    <ngx-table [configuration]="configuration" [data]="data" [columns]="columns"> </ngx-table>
  </div>
</div>

<ng-template #phone_numberTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.phone_number }}</div>
  <div *ngIf="editRow === rowIndex">
    <input type="text" #phone_number placeholder="Telephone" class="form-label" [value]="row.phone_number" />
  </div>
</ng-template>
<ng-template #ageTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.age }}</div>
  <div *ngIf="editRow === rowIndex">
   <!-- <input type="text" #age placeholder="Age" class="form-label" [value]="row.age" /> -->
    <div class="form-group">
      <select class="form-select" #age>
        <option>{{ row.age }}</option>
        <option>-20</option>
        <option>20 - 29</option>
        <option>30 - 39</option>
        <option>+40</option>
      </select>
    </div>
  </div>
</ng-template>
<ng-template #genderTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.gender }}</div>
  <div *ngIf="editRow === rowIndex">
    <div class="form-group">
      <select class="form-select" #gender>
        <option>{{ row.gender }}</option>
        <option>Homme</option>
        <option>Femme</option>
      </select>
    </div>
  </div>
</ng-template>

<ng-template #cityIdTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.city }}</div>
  <div *ngIf="editRow === rowIndex">
    <div class="form-group">
      <select class="form-select" #cityId>
        <option>{{ row.city }}</option>
        <option *ngFor="let city of city" value="{{ city._id }}">{{ city.name }}</option>
      </select>
    </div>
  </div>
</ng-template>

<ng-template #professionTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.profession }}</div>
  <div *ngIf="editRow === rowIndex">
    <div class="form-group">
      <select class="form-select" #profession>
        <option>{{ row.profession }}</option>
        <option *ngFor="let job of jobTitle" value="{{job}}">{{job}}</option>
      </select>
    </div>
  </div>
</ng-template>

<ng-template #residenceTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.residence }}</div>
  <div *ngIf="editRow === rowIndex">
    <input type="text" #residence placeholder="résidence" class="form-label" [value]="row.residence" />
  </div>
</ng-template>


<ng-template #lineTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">
    <div *ngFor="let use of row.usedLine">
      <div *ngIf="use.lineNumber">{{ use.lineNumber }}</div>
      <div *ngIf="!use.lineNumber">{{ use }}</div>
    </div>
   <!--{{row.line}}-->

  </div>
  <div *ngIf="editRow === rowIndex">
    <div class="form-group">
    <ng-select [items]="lines"
bindLabel="lineNumber"
placeholder=""
appendTo="body"
[multiple]="true"
[(ngModel)]="selected">
</ng-select>
    </div>
  </div>
</ng-template>

<ng-template #departureStopTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.departureStop }}</div>
  <div *ngIf="editRow === rowIndex">
    <input type="text" #departureStop placeholder="Arrêt de départ" class="form-label" [value]="row.departureStop" />
  </div>
</ng-template>


<ng-template #arrivalStopTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.arrivalStop }}</div>
  <div *ngIf="editRow === rowIndex">
    <input type="text" #arrivalStop placeholder="Arrêt de d'arrivée" class="form-label" [value]="row.arrivalStop" />
  </div>
</ng-template>

<ng-template #autorisedNumberTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">{{ row.autorisedNumber }}</div>
  <div *ngIf="editRow === rowIndex">
    <div class="form-group">
      <select class="form-select" #autorisedNumber>
        <option>{{ row.autorisedNumber }}</option>
        <option [value]="true">Oui</option>
        <option [value]="false">Non</option>
      </select>
    </div>
  </div>
</ng-template>

<!--<ng-template #activationCampaignTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex">
    <div *ngFor="let select of row.activationCampaign">
      <div *ngIf="select.name">{{ select.name }}</div>
      <div *ngIf="!select.name">{{ select }}</div>
    </div>

  </div>
  <div *ngIf="editRow === rowIndex">
    <div class="form-group">
    <ng-select [items]="survey"
bindLabel="name"
placeholder=""
appendTo="body"
[multiple]="true"
[(ngModel)]="selectedCampaign">
</ng-select>
    </div>
  </div>
</ng-template>-->

<ng-template #actionTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="editRow !== rowIndex" class="btn btn-sm btn-primary" (click)="edit(rowIndex)"><i class="fa fa-edit"></i></div>
  <div *ngIf="editRow === rowIndex" class="btn btn-sm btn-success" (click)="update(row)">Enregistrer</div>
  <div class="btn btn-sm btn-danger"
  mwlConfirmationPopover
  [popoverTitle]="popoverTitle"
  [popoverMessage]="popoverMessage"
  placement="left"
  (confirm)="removeParticipant(row)"
  (cancel)="cancelClicked = true">
  <i class="fa fa-times"></i>
</div>
</ng-template>

<div class="overlay" *ngIf="popup">
  <div class="popup">
      <h2>Sélectionner une période</h2>
      <a class="close" (click)="popup = false">&times;</a>
      <div class="content">
        <form style="margin: auto;" [formGroup]="popupForm">
        <input nbInput placeholder="sélectionner une période" type="text" formControlName="period"
        [nbDatepicker]="formpicker">
        <nb-rangepicker format="yyyy-MM-dd" #formpicker></nb-rangepicker>
        <div *ngIf="submittedPopup && popupForm.controls.period.errors" class="error">
          <div style="color:red;" *ngIf="popupForm.controls.period.errors.required">
              *champ
              obligatoire
          </div>
      </div>
      <button style="margin: auto;" (click)="onSubmitPopupDate()" class="btn btn-primary" rel="tooltip" data-original-title="">
        Valider
      </button>
    </form>
      </div>
  </div>
</div>

<style>
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  visibility: visible;
    opacity: 1;
  }
  
  
  .popup {
    margin: 300px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
  
    .popup{
      width: 70%;
    }
  }
  
</style>