<div class="col-lg-12">
    <nb-card>
      <nb-card-header>Message</nb-card-header>
      <nb-card-body>
        <div class="buttons-row">
          <button nbButton [routerLink]="'/pages/message/add'" [status]="'primary'" class="btn btn-primary" hero>
            nouveau message
          </button>
        </div>
      </nb-card-body>
    </nb-card>
</div>
<div class="columns mt-2">
    <div class="column col-12">
        <ngx-table [data]="messages" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>
</div>

<ng-template #wordingTpl let-row let-rowIndex="rowIndex">
  <div class="phone" *ngIf="selectRow !== rowIndex">{{ row.wording }}</div>
  <div class="phone" *ngIf="selectRow === rowIndex">
    <textarea type="text" rows="4" cols="50" #wording [value]="row.wording"></textarea>
  </div>
</ng-template>
<ng-template #orderTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="selectRow !== rowIndex">{{ row.order }}</div>
  <div *ngIf="selectRow === rowIndex">
    <input type="number" #order placeholder="" class="form-label" [value]="row.order" />
  </div>
</ng-template>
<ng-template #message_type_idTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="selectRow !== rowIndex">{{ row.message_type_id.name }}</div>
  <div *ngIf="selectRow === rowIndex">
    <div class="form-group">
      <select class="form-select" #message_type_id>
        <option value="{{row.message_type_id._id}}">{{ row.message_type_id.name }}</option>
        <option *ngFor="let type of messageType" value="{{type._id}}">{{ type.name }}</option>
      </select>
    </div>
  </div>
</ng-template>
<ng-template #survey_campaign_idTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="selectRow !== rowIndex">{{ row.survey_campaign_id.name }}</div>
  <div *ngIf="selectRow === rowIndex">
   <!-- <input type="text" #age placeholder="Age" class="form-label" [value]="row.age" /> -->
    <div class="form-group">
      <select class="form-select" #survey_campaign_id>
        <option value="{{row.survey_campaign_id._id}}">{{ row.survey_campaign_id.name }}</option>
        <option *ngFor="let survey of surveyCampaign" value="{{survey._id}}">{{survey.name}}</option>
      </select>
    </div>
  </div>
</ng-template>
<ng-template #response_type_idTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="selectRow !== rowIndex">{{ row.response_type_id.name }}</div>
  <div *ngIf="selectRow === rowIndex">
    <div class="form-group">
      <select class="form-select" #response_type_id>
        <option value="{{row.response_type_id._id}}">{{ row.response_type_id.name }}</option>
        <option *ngFor="let response of responseType" value="{{response._id}}">{{response.name}}</option>
      </select>
    </div>
  </div>
</ng-template>
<ng-template #actionTpl let-row let-rowIndex="rowIndex">
  <div *ngIf="selectRow !== rowIndex" class="btn btn-primary" (click)="edit(rowIndex)"><i class="fa fa-edit"></i></div>
  <div *ngIf="selectRow === rowIndex" class="btn btn-success" (click)="update(row)">Enregistrer</div>
 <!-- <div (click)="delete(rowIndex)" class="btn btn-danger"><i class="fa fa-times "></i></div>  -->
 <div class="btn btn-danger"><em class="fa fa-times" mwlConfirmationPopover
  [popoverTitle]="popoverTitle"
  [popoverMessage]="popoverMessage"
  placement="left"
  (confirm)="removeMessage(row)"
  (cancel)="cancelClicked = true"></em></div>
</ng-template>
