<div class="col-lg-12">
    <nb-card>
        <nb-card-header>Création d'un message</nb-card-header>
        <nb-card-body>
            <div class="buttons-row">
                <button nbButton [routerLink]="'/pages/message'" [status]="'info'" class="btn btn-primary" hero>
                    Retour
                </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Création message</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" [formGroup]="messageForm">
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Formulation message</label>
                        <div class="col-sm-9">
                            <textarea rows="5" nbInput fullWidth shape="round" formControlName="wording"
                                placeholder="Formuler le message"></textarea>
                            <div *ngIf="submittedMessage && messageForm.controls.wording.errors" class="error">
                                <div style="color:red;" *ngIf="messageForm.controls.wording.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Ordre</label>
                        <div class="col-sm-9">
                            <input type="number" nbInput fullWidth id="inputFirstName" formControlName="order"
                                placeholder="position du message(-1,0,1,2 ...)">
                            <div *ngIf="submittedMessage && messageForm.controls.order.errors" class="error">
                                <div style="color:red;" *ngIf="messageForm.controls.order.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Point à gagner</label>
                        <div class="col-sm-9">
                            <input type="number" nbInput fullWidth id="inputFirstName" formControlName="next_point"
                                placeholder="point à gagner (0 par defaut)">
                            <div *ngIf="submittedMessage && messageForm.controls.next_point.errors" class="error">
                                <div style="color:red;" *ngIf="messageForm.controls.next_point.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Type de message</label>
                        <div class="col-sm-9">
                            <nb-card>
                                <nb-select placeholder="Choisir le type de message" formControlName="message_type_id">
                                    <nb-option *ngFor="let tmessage of typemessages" value="{{tmessage._id}}">
                                        {{tmessage.name}}
                                    </nb-option>
                                </nb-select>
                                <div *ngIf="submittedMessage && messageForm.controls.message_type_id.errors"
                                    class="error">
                                    <div style="color:red;"
                                        *ngIf="messageForm.controls.message_type_id.errors.required">
                                        *champ
                                        obligatoire
                                    </div>
                                </div>
                            </nb-card>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Campagne de sondage</label>
                        <div class="col-sm-9">
                            <nb-card>
                                <nb-select placeholder="Choisir la campagne de sondage" formControlName="survey_campaign_id">
                                    <nb-option *ngFor="let survey of surveycampaigns" value="{{survey._id}}">
                                        {{survey.name}}
                                    </nb-option>
                                </nb-select>
                                <div *ngIf="submittedMessage && messageForm.controls.survey_campaign_id.errors"
                                    class="error">
                                    <div style="color:red;"
                                        *ngIf="messageForm.controls.survey_campaign_id.errors.required">
                                        *champ
                                        obligatoire
                                    </div>
                                </div>
                            </nb-card>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Type de réponse</label>
                        <div class="col-sm-9">
                            <nb-card>
                                <nb-select placeholder="Choisir le type de réponse" formControlName="response_type_id">
                                    <nb-option *ngFor="let tresponse of typeresponses" value="{{tresponse._id}}">
                                        {{tresponse.name}}
                                    </nb-option>
                                </nb-select>
                                <div *ngIf="submittedMessage && messageForm.controls.response_type_id.errors"
                                    class="error">
                                    <div style="color:red;"
                                        *ngIf="messageForm.controls.response_type_id.errors.required">
                                        *champ
                                        obligatoire
                                    </div>
                                </div>
                            </nb-card>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button (click)="onSubmitMessage()" nbButton status="danger">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>