<div class="col-lg-12">
    <nb-card>
        <nb-card-header>Création d'un nouveau participant</nb-card-header>
        <nb-card-body>
            <div class="buttons-row">
                <button nbButton [routerLink]="'/pages/participant'" [status]="'info'" class="btn btn-primary" hero>
                    Retour
                </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Création d'un participant</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" [formGroup]="participantForm">
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Prénom</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="firstName" nbInput fullWidth placeholder="Prénom">
                            <div *ngIf="submitted && participantForm.controls.firstName.errors" class="error">
                                <div style="color:red;" *ngIf="participantForm.controls.firstName.errors.required">*champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Nom</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth id="inputFirstName" formControlName="lastName"
                                placeholder="Nom">
                            <div *ngIf="submitted && participantForm.controls.lastName.errors" class="error">
                                <div style="color:red;" *ngIf="participantForm.controls.lastName.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Téléphone</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth id="inputFirstName" formControlName="phone_number"
                                placeholder="Téléphone">
                            <div *ngIf="submitted && participantForm.controls.phone_number.errors" class="error">
                                <div style="color:red;" *ngIf="participantForm.controls.phone_number.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---->
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Age</label>
                        <div class="col-sm-9">
                            <input type="number" nbInput fullWidth id="inputFirstName" formControlName="age"
                                placeholder="Age">
                            <div *ngIf="submitted && participantForm.controls.age.errors" class="error">
                                <div style="color:red;" *ngIf="participantForm.controls.age.errors.required">
                                    *champ
                                    obligatoire
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 form-control-label">Genre</label>
                        <div class="col-sm-9">
                            <nb-card>
                                <nb-select placeholder="Genre" formControlName="gender">
                                    <nb-option value="Homme">
                                        Homme
                                    </nb-option>
                                    <nb-option value="Femme">
                                        Femme
                                    </nb-option>
                                </nb-select>
                                <div *ngIf="submitted && participantForm.controls.gender.errors"
                                    class="error">
                                    <div style="color:red;"
                                        *ngIf="participantForm.controls.gender.errors.required">
                                        *champ
                                        obligatoire
                                    </div>
                                </div>
                            </nb-card>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button (click)="onSubmit()" nbButton status="danger">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>