
<div class="row">
    <nb-card>
      <nb-card-header>Veuillez choisir une campagne</nb-card-header>
      <form class="needs-validation" [formGroup]="dateSmsForm">
        <div class="form-group">
            <nb-card-body class="col-sm-4"><nb-select placeholder="Choisir une campagne" formControlName="campaign">
              <nb-option (click)="onSelected(survey.name)" *ngFor="let survey  of total_survey" value="{{survey.name}}">{{survey.name}}
              </nb-option>
          </nb-select>
          <div *ngIf="submittedDate && dateSmsForm.controls.campaign.errors" class="error">
              <div style="color:red;" *ngIf="dateSmsForm.controls.campaign.errors.required">
                  *champ
                  obligatoire
              </div>
          </div>
          </nb-card-body>
          <nb-card-body class="col-sm-3">
            <span *ngIf="selected"> Du {{firstDate}} au {{secondDate}}: </span>
          <span *ngIf="selected"> Période de {{surveyInfo}} jours </span>
          </nb-card-body>
              <nb-card-body class="col-sm-2">
                <button (click)="onSubmitDateInterval()" class="btn btn-primary" rel="tooltip" data-original-title="">
                  Valider
                </button>
              </nb-card-body>
        </div>
      </form>
    </nb-card>
</div>

<div class="row">
    <nb-card *ngIf="submittedDate" style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Vos supports publicitaires</nb-card-header>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          <div *ngIf="loading_data" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          Digital : <span style="float: right;"><h6>{{data}}</h6></span>
        </div>
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_printStickers" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          Stickers : <span style="float: right;"><h6>{{printStickers}}</h6></span>
        </div>
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_printFL" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          FL, HBA, etc... : <span style="float: right;"><h6>{{printFL}}</h6></span>
        </div>
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_total_bus_unique" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          Bus uniques : <span style="float: right;"><h6>{{total_bus_unique}}</h6></span>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card *ngIf="submittedDate" style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Audience touchée</nb-card-header>
      
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_total_bus_unique" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          Estimé : <span style="float: right;"><h6>{{ spaces(estimatedResult) }}</h6></span>
        </div>
      </nb-card-body>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          <div *ngIf="loading_user_in_the_bus" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          Digital : <span style="float: right;"><h6>{{ spaces(allUserInTheBus) }}</h6></span>
        </div>
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_sticker_user" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          Stickers : <span style="float: right;"><h6>{{ spaces(sticker_user) }}</h6></span>
        </div>
      </nb-card-body>
      <nb-card-body style="margin: 10px; border-radius: 10px; float: right; background-color: #e4e7e8">
        <div class="buttons-row">
          <div *ngIf="loading_user_in_the_bus" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          Print : <span style="float: right;"><h6>{{ spaces(print_user) }}</h6></span>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card *ngIf="submittedDate" style="border-radius: 10px;" class="col-sm-4">
      <nb-card-header>Exposition totale</nb-card-header>
      <nb-card-body style="border-radius: 10px; float: left;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          <div *ngIf="loading_total_open" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          Digital : <span style="float: right;"><h6>{{ spaces(total_open) }}</h6></span>
        </div>
      </nb-card-body>
      
    </nb-card>

    <nb-card *ngIf="submittedDate" style="border-radius: 10px;" class="col-sm-8">
      <nb-card-header>Audience Engagée</nb-card-header>
      <div class="row">
      <nb-card-body class="col-sm-6" style="border-radius: 10px;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          Audience accumulée sur {{date.campaign}} : <span style="float: right;"><h6>{{ spaces(total_participant_week) }}</h6></span>
          <div *ngIf="loading_total_participant_week" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-body class="col-sm-6" style="border-radius: 10px;margin: 10px; background-color: #e4e7e8;">
        <div class="buttons-row">
          Nombre total d'interactions sur {{date.campaign}} : <span style="float: right;"><h6>{{ spaces(total_sms_received) }}</h6></span>
          <div *ngIf="loading_total_sms_received" class="clearfix">
            <div class="spinner-border text-primary float-right" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </nb-card-body>
    </div>
    </nb-card>

</div>

<nb-card>
  <fusioncharts style="margin: auto;" *ngIf="submittedDate"
  [chartConfig]=chartConfigActivation [dataSource]=dataSourceActivation
>
</fusioncharts>
</nb-card>

<nb-card>
  <fusioncharts style="margin: auto;" *ngIf="submittedDate"
  [chartConfig]=chartConfigNewNumber [dataSource]=dataSourceNewNumber
>
</fusioncharts>
</nb-card>

<div class="row">
  <nb-card  *ngIf="submittedDate" class="col-sm-6">
    <nb-card-body class="">
      <fusioncharts [chartConfig]=chartConfigGender [dataSource]=dataSourceGender>
      </fusioncharts>
    </nb-card-body>
    <nb-card-footer>
      <span style="color: grey; margin-left: 23%;">Nombre d'enregistrements: {{chartGenderLegend}}</span>
    </nb-card-footer>
  </nb-card>

  <nb-card  *ngIf="submittedDate" class="col-sm-6">
    <nb-card-body class="">
      <fusioncharts [chartConfig]=chartConfigAge [dataSource]=dataSourceAge>
      </fusioncharts>
    </nb-card-body>
  </nb-card>

  <nb-card  *ngIf="submittedDate" class="col-sm-6">
        <nb-card-body class="">
          <fusioncharts [chartConfig]=chartConfigJob [dataSource]=dataSourceJob>
          </fusioncharts>
        </nb-card-body>
      </nb-card>

      <nb-card  *ngIf="submittedDate" class="col-sm-6">
        <nb-card-body class="">
          <fusioncharts [chartConfig]=chartConfigLine [dataSource]=dataSourceLine>
          </fusioncharts>
        </nb-card-body>
      </nb-card>
</div>